@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');


body {
    font-family: 'NanumBarunGothicYetHangul';
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 12px;
    cursor: pointer;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}

th::selection, td::selection {
    color: rgb(0, 0, 0);
    background-color: rgba(128, 0, 128, 0);
}
.selected {
    background-color: #ffa200; /* 색상 변경 */
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffa200;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #ff7b00;
}
@media (max-width: 600px) {
    table {
        width: 100%;
    }
}