@font-face {
    font-family: 'SOYO Maple';
    src: url('fonts/SOYO Maple Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'SOYO Maple', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: black;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 12px;
    cursor: pointer;
}

th {
    background-color: #ffa200;
    color: white;
    font-weight: bold;
}

th::selection, td::selection {
    color: #000;
    background-color: transparent;
}

.selected {
    background-color: #ffa20091;
    color: #fff;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffa200;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff7b00;
}

#leftako {
    position: fixed;
    height: 375.2px;
    width: 326.2px;
    z-index: 2;
    top:30%;
    left: 10px;
}


@media (max-width: 600px) {
    table {
        width: 100%;
    }
}

