#screen * {
    box-sizing: border-box;
    margin : 10px;
    padding : 10px;
}

#container {
    width : 1200px;
    height : 400px;
    display: flex;
    flex-direction: row;
    margin: auto;
    
}

.child {
    flex: 2 0;
}
.profile1{
    border : 2px solid rgb(0, 0, 0);
}
.profile2{
    border : 2px solid rgb(0, 0, 0);
}
.profile3{
    border : 2px solid rgb(0, 0, 0);
}
